.site-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

    & .site-contacts__item + .site-contacts__item {
        margin-left: 50px;
    }

    & .link {
        display: flex;
        align-items: center;

        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--second-text-color);
        font-weight: 500;
        font-size: var(--small-text-size);
        line-height: 1.14;
        letter-spacing: var(--small-letter-spacing);
    }

    & .link:hover,
    & .link:focus {
        color: var(--accent-color);
    }
}

.site-contacts__email-icon,
.site-contacts__smartphone-icon {
    fill: currentColor;
    margin-right: 10px;
}
