.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--back-color);
}

// footer__block

.footer__block {
    display: flex;
    flex-direction: column;

    @include desk {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }
}

// footer__box

.footer__box {
    display: flex;
    flex-direction: column;

    @include tab {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
}

// footer__logo-address

.footer__logo-address {
    text-align: center;

    @include desk {
        width: 230px;

        margin-left: 0;
        margin-right: 0;

        text-align: left;
    }
}

// address

.address__item {
    display: block;

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.address__link--dark {
    color: var(--footer-text-color);
}

.address__link--light {
    color: var(--primary-white-color);
}

.address__link--dark,
.address__link--light {
    font-style: normal;
    font-size: var(--small-text-size);
    line-height: 1.71;

    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}
