.specifics-list {
    display: flex;
}

.specifics-list__item {
    display: block;
    flex-basis: 270px;

    & + & {
        margin-left: 30px;
    }
}

.specifics-list__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: var(--second-back-color);
}

.specifics-list__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: var(--small-text-size);
    line-height: 1.14;
    text-transform: uppercase;
}

.specifics-list__text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--second-text-color);
    font-size: var(--small-text-size);
    line-height: 1.71;
}
