.specifics-list {
    display: flex;
    flex-direction: column;

    @include tab {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.specifics-list__item {
    display: block;
    margin-left: 0;

    & + & {
        margin-top: 30px;
    }

    @include tab {
        width: 354px;

        & + & {
            margin-top: 0;
        }

        &:nth-child(2n) {
            margin-left: 30px;
        }

        &:nth-child(n + 3) {
            margin-top: 30px;
        }
    }

    @include desk {
        width: 270px;

        & + & {
            margin-top: 0;
            margin-left: 30px;
        }
    }
}

.specifics-list__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: var(--second-back-color);

    @include tab {
        width: 354px;
    }

    @include desk {
        width: 270px;
    }
}

.specifics-list__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: var(--small-text-size);
    line-height: 1.14;
    text-transform: uppercase;
}

.specifics-list__text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--second-text-color);
    font-size: var(--small-text-size);
    line-height: 1.71;
}
